.archive {
    max-width: 700px;
    margin: 5em auto;
    .post-item {
        padding: 2px 0 0 50px;
    }
    .post-time,
    .post-title-link {
        font-size: 1rem;
        font-size: 18px;
        display: block;
        margin-left: 125px;
        color: $true-blue;
        word-break: break-all;
        &:hover {
            border-bottom: 0;
        }
    }
    .post-info {
        font-size: 18px;
        float: left;
        width: 125px;
        color: #7f8c8d;
    }
}