.paginator {
    margin: 4em 0;
    text-align: center;
    .prev, .next {
        display: inline-block;
        margin: 0 4px;
        padding: 8px 25px;
        border-radius: 2px;
        font-size: 18px;
        color: $true-blue;
        border: 1px solid $true-blue;
        text-transform: lowercase;
        &:hover {
            background-color: $true-blue;
            color: white;
        }
    }
}

.ds-thread,
#disqus_thread {
    margin-bottom: 2em;
}